<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engine</title>
</head>
<body>
    <div>
        <label> 
            <label>Name: <%= name %></label>
            <br> 
            <label> Age: <%= age %></label>
            <br>
            <label>Graduation status: <%=graduated%></label>
            <label> Skills:
            <% for (let i = 0; i < skills.length; i++){ %>
            <p><%= skills[i] %></p>
            <%}%>
            </label>
        </label>
    </div>
</body>
</html>